.h2-tags{
    font-size: 1.8rem;
    font-weight: 200;
}
.set-opacity{
    opacity: 0.5;
}
.first-text{
    color: #76C63E;
}
.set-italic{
    font-style: italic;
    font-size: 1rem;
}
.details{
    text-align: center;
    margin-top:2em;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.details p{
    margin-top: 1em;
    width: 70%;
}
.positions{
    display: flex;
    justify-content: space-around;

}
.add-green{
    color: #76C63E;
}
.job-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    margin: 2rem 0;
    width: 200px;
}
.job-title h4{
    padding: 0.2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #0076BA;
    color: #fff;
}
@media (max-width: 768px) {
    .positions{
        flex-wrap: wrap;
    
    }
}
