*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
section{
    width: 100%;
}

@media (max-width: 768px) {
    html{
        font-size: 18px;
    }
  }

  @media (max-width: 425px) {
    html{
        font-size: 15px;
    }
  }
