.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
    grid-gap: 1em;
    padding: 2em;

}
.gallery img{
    height: 100%;
    width: 100%;
}
.flex-column{
 display: flex;
 flex-direction: column;
}
.flex-column h4{
    margin-top: 0.5em;
}
.text-center{
 text-align: center;
}
.add-opacity{
    opacity: 0.8;
   }
.team p{
    font-size: 0.8rem;
    text-align: center;
}
@media (max-width: 425px) {
    .gallery{
        display: flex;
        flex-direction: column;
    }
}