.navbar{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */

}
.blurred-navbar {
}
.top-navbar{
    background:#000000;
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 0.5em;
    overflow: hidden; 
}
.top-navbar p{
    margin-left: 2em;
    font-size: 0.6rem;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.animate-text {
    margin: 0;
    animation: moveBackAndForth 15s linear infinite;
  }
  
  @keyframes moveBackAndForth {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100%);
    }
  }

  .bottom-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em 0.5em 2em;
    background-color: #f8f8f8;

  }
 .logo{
    width: 8vw; 
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
 }
 .logo:hover{
  transform: scale(1.1);
 }

 .bottom-navbar-links{
    font-size: 1rem;
    list-style: none;
    display: flex;
 }

 .links{
    text-decoration: none;
    margin-left: 2em;
    color: black;
    transform: 0.5s ease-in-out;
 }
 .sub-links{
  text-decoration: none;
  color: black;
  transform: 0.5s ease-in-out;
  font-size: 0.9rem;

}
 .donate{
    border-radius: 5px;
    padding: 0.8em;
    background-color: #0076BA;
    color: white;

 }
 .donate:hover{
    border: 1px solid #0076BA;
    background-color: #fff;
    transition: 0.5s ease-in-out;

 }
 .links:hover, .sub-links:hover {
    color:#0076BA;

 }
.menu{
    display: none;
    font-size: 25px;
}
.side-nav{
  display: none;
  
}

.toggle{
  display: none;
}
.with-submenu{
  position: relative;
  cursor: pointer;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  background-color: #f8f8f8;
  padding: 0.8em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 101;
}


.with-submenu:hover .submenu {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  width: 260px;
=======
   width: 260px;
>>>>>>> f2dcb9668755c8a16bc6aecb17ff888a23aaa6f2
}

@media (max-width: 574px){
  .with-submenu:hover .submenu {
    width: 90px;
  }
  .toggle{
    display: block;
  }
    .bottom-navbar-links{
        display: none;
    }
    .menu{
        display: block;
    }
    .side-nav{
      list-style: none;
      position: absolute;
      top: 100px;
      right: 0;
      display: flex;
      visibility: hidden;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1em;
      width: 50%;
      z-index: 100;
      background-color: rgb(247, 247, 240);
      box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
      color: gray;
    }

    .toggle {
      cursor: pointer;
      background: transparent;;
      border: none;
    }
    .side-nav li{
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    .show-menu{
      visibility: visible;
    }
}

 @media (max-width: 425px) {
  .toggle{
    display: block;
  }
    .bottom-navbar-links{
        display: none;
    }
    .menu{
        display: block;
    }
    .side-nav{
      list-style: none;
      position: absolute;
      top: 100px;
      right: 0;
      display: flex;
      visibility: hidden;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1em;
      width: 50%;
      z-index: 100;
      background-color: rgb(247, 247, 240);
      box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
      color: gray;
    }

    .toggle {
      cursor: pointer;
      background: transparent;;
      border: none;
    }
    .side-nav li{
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    .show-menu{
      visibility: visible;
      
    }
  }
