.sign-up h2{
    text-align: center;
    color: white;
}
.sign-up{
    padding: 4em;
    background-color: #000000;
}
.sign-up form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;

}
.sign-up input{
    flex: 8;
    padding: 1em;
    border: none;
    outline: none;
    
} 
.sign-up button{
    flex: 1;
    padding: 1em;
    border: none;
    background-color: #0076BA;
    color: white;
    cursor: pointer;
    transition: background-color 1s ease-in-out;
}
.sign-up button:hover{
    background-color: #76C63E;
}
@media (max-width: 425px) {
    .sign-up form{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sign-up button{
        margin-top: 1em;
    }
}